html, body {
    margin: 0;
    padding: 0;
    background-color: #131313;
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
  }

.konvajs-content {
    background-color: transparent;
}